ul {
    list-style: none;
}
input {
    font-size: 100%;
}

a, a:visited, a:active {
    color: #258;
}

h3 {
    font-weight: bold;
    text-decoration: underline;
    font-size: 120%;
    padding: 8px 6px;
    text-align: center;
}


/*.header-nav-bar{*/
    /*position: fixed;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*top: 0;*/
    /*width: 100%;*/
    /*height: 40px;*/
    /*background: #4D4D4D;*/
    /*z-index: 1000;*/
/*}*/
/*#login-buttons a, a:visited, a:active {*/
    /*color: #cccccc;*/
/*}*/



/*#top-tag-filter {*/
    /*left: 200px;*/
    /*height: 44px;*/
    /*bottom: auto;*/
    /*background: #ddd;*/
    /*border-bottom: 1px solid #999;*/
    /*padding-left: 10px;*/
/*}*/

#help {
    padding: 8px;
}
/*.nav-bar li{*/
    /*position: absolute;*/
    /*z-index: 1000;*/
    /*background: #4D4D4D;*/
/*}*/
/*#login-buttons{*/
    /*z-index: 1000;*/
/*}*/


.tag {
    cursor: pointer;
    float: left;
    margin: 5px;
    padding: 5px;
    font-size: 80%;
    font-weight: bold;
    background: #999;
    color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;

    opacity: 1;
    transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -webkit-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;

    position: relative;
}

#tag-filter .label {
    float: left;
    margin-top: 9px;
    margin-left: 12px;
    margin-right: 8px;
}

#tag-filter .tag {
    margin-top: 10px;
    border: 1px solid #777;
}

#tag-filter .selected {
    background: #69d;
}

#tag-filter .count {
    font-weight: normal;
    padding-left: 2px;
}


