<template name="sidebarTemplate">
    {{#if sidebarIsVisible }}
    <div class="doesnt-overlap-header fixed-layout hide-for-small helveticas" id="sidebarPane">
        {{> listsTemplate}}

        {{#if isWorkqueuesPage }}
        {{> workqueuesPageSidebarTemplate}}
        {{/if}}

        {{#if isProfilePage }}
        {{> profilePageSidebarTemplate}}
        {{/if}}

        {{#if isCommunityPage }}
        {{> communityPageSidebarTemplate}}
        {{/if}}

    </div>
    {{/if}}
</template>


<!-- //TODO:  rename listsTemplate to something else? -->
<template name="listsTemplate">
    <div id="listsTemplate" class="list-tab-container">

    <div class="all-tasks-tab sidebar-tab note">
        <div class="display">
            All Tasks
        </div>
    </div>
    <div class="urgent-tasks-tab sidebar-tab note">
        <div class="display">
            Urgent Tasks
        </div>
    </div>
    <div class="routine-tasks-tab sidebar-tab note">
        <div class="display">
            Routine Tasks
        </div>
    </div>
    <div class="finished-tasks-tab sidebar-tab note">
        <div class="display">
            Finished
        </div>
    </div>
    <div class="unfinished-tasks-tab sidebar-tab note">
        <div class="display">
            Unfinished
        </div>
    </div>
    <!--<div class="today-tasks-tab sidebar-tab note">-->
        <!--<div class="display">-->
            <!--Today-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="inbox-tasks-tab sidebar-tab note">-->
        <!--<div class="display">-->
            <!--Inbox-->
        <!--</div>-->
    <!--</div>-->


</template>



<template name="workqueuesPageSidebarTemplate">
    {{> tagFilterTemplate}}
</template>
<template name="tagFilterTemplate">
    <div id="tagTiles">
        <hr class="gray-line">
        <div id="tag-filter" class="tag-list">
            {{#each tags}}
            <div class="sidebar-tab {{selected}}">
                {{tag_text}} <span class="count">({{count}})</span>
            </div>
            {{/each}}
        </div>
    </div>
</template>




<template name="communityPageSidebarTemplate">
    <!-- //TODO:  create webBrowserSidebarTemplate -->
    <!-- //TODO:  move buttonTilesTemplate to webBrowserSidebarTemplate -->
    {{> buttonTilesTemplate }}
</template>


<template name="buttonTilesTemplate">
    <div id="buttonTiles" class="sidebar-tiles column-container">
        <!-- //TODO:  research default weblinks for each category -->
        <!-- //TODO:  trigger navigation to webpage on each button -->
        <hr class="gray-line">
        <div class="column-one-of-two">
            <img class="sidebar-tile" src="/iconsbw/CT_Scan.png">
            <img class="sidebar-tile" src="/iconsbw/Blood_Bag.png">
            <img class="sidebar-tile" src="/iconsbw/Blood_Pressure.png">
            <img class="sidebar-tile" src="/iconsbw/Prescription.png">
            <img class="sidebar-tile" src="/iconsbw/Xray.png">
        </div>
        <div class="column-two-of-two">
            <img class="sidebar-tile" src="/iconsbw/Health_Meter.png">
            <img class="sidebar-tile" src="/iconsbw/Hospital.png">
            <img class="sidebar-tile" src="/iconsbw/ID_Bracelet.png">
            <img class="sidebar-tile" src="/iconsbw/Insurance_Plan.png">
            <img class="sidebar-tile" src="/iconsbw/Labs.png">
        </div>
    </div>
</template>


<template name="profilePageSidebarTemplate">
    <hr class="gray-line">
    <div class="{{json_inspector_selected}} unselectable object-inspector-tab sidebar-tab note">
        <div class="display">
            <span class="pictograph">(</span>
            Object Inspector
        </div>
    </div>
    <hr class="gray-line">
    <div class="{{colaborators_selected}} collaborators-tab sidebar-tab note">
        <div class="display">
            <span class="pictograph">g</span>
            Collaborators
        </div>
    </div>
    <div class="{{hipaa_log_selected}} hipaa-audit-tab sidebar-tab note">
        <div class="display">
            <span class="pictograph">4</span>
            HIPAA Audit Log
        </div>
    </div>
    <hr class="gray-line">
    <div class="initialize-tasks-tab sidebar-tab note">
        <div class="display">
            <span class="pictograph">4</span>
            Initialize Default Tasks
        </div>
    </div>
</template>