<template name="appContainerTemplate">
    <!-- //TODO:  refactor 'content' to 'appContent' -->
    <div class="content">
        {{#if loggedIn}}
        <div class="touch-disabled" id="mainLayoutPane">
            {{> workqueuesPageTemplate }}
            {{> profilePageTemplate }}
            {{> communityPageTemplate }}
            {{> iconAssetsPageTemplate }}
            {{!> dashboardPageTemplate}}
        </div>
        {{> sidebarTemplate }}
        {{else }}
        {{> guestPageTemplate }}
        {{/if }}
    </div>
    {{> tutorialOverlayTemplate }}
</template>


<template name="tutorialOverlayTemplate">
    {{#if isVisible}}
    <div class="overlay-mask"></div>
    {{/if}}
</template>