<template name="sidebarTemplate">
    {{#if sidebarIsVisible }}
    <div class="doesnt-overlap-header fixed-layout hide-for-small" id="sidebarPane">
        {{> listsTemplate}}

        {{#if showButtonTiles }}
        {{> buttonTilesTemplate }}
        {{else }}
        {{> tagFilterTemplate}}
        {{/if }}

        {{#if isWorkqueuesPage }}
        {{> workqueuesPageSidebarTemplate}}
        {{/if}}

        {{#if isProfilePage }}
        {{> profilePageSidebarTemplate}}
        {{/if}}

        {{#if isCommunityPage }}
        {{> communityPageSidebarTemplate}}
        {{/if}}

    </div>
    {{/if}}
</template>

<!-- TODO:  onclick, make sure the workqueues page is opened -->
<template name="listsTemplate">
    <div id="listsTemplate">
        {{#each lists}}
            <div class="list {{selected}}">
                <div class="sidebar-tab note">
                    {{#if editing}}
                    <div class="edit">
                        <input class="list-name-input" id="list-name-input" type="text" value="{{name}}" />
                    </div>
                    {{else}}
                    <div class="display">
                        <a class="list-name {{name_class}}" href="/{{_id}}">
                            {{name}}
                        </a>
                    </div>
                    {{/if}}
                </div>
            </div>
        {{/each}}
    </div>
</template>

<!-- TODO:  confirm if dashboardTab is needed? -->
<template name="dashboardTab">
    <div class="sidebar-tab note dashboard">
        <div class="display">
            Dashboard
        </div>
    </div>
</template>

<template name="tagFilterTemplate">
    <div id="tagTiles">
        <hr style="border: 1px solid lightgray;">
        <div id="tag-filter" class="tag-list">
            {{#each tags}}
            <div class="sidebar-tab {{selected}}">
                {{tag_text}} <span class="count">({{count}})</span>
            </div>
            {{/each}}
        </div>
    </div>
</template>

<template name="buttonTilesTemplate">
    <div id="buttonTiles" class="sidebar-tiles column-container">
        <hr style="border: 1px solid lightgray;">
        <div class="column-one-of-two">
            <img class="sidebar-tile" src="/iconsbw/CT_Scan.png">
            <img class="sidebar-tile" src="/iconsbw/Blood_Bag.png">
            <img class="sidebar-tile" src="/iconsbw/Blood_Pressure.png">
            <img class="sidebar-tile" src="/iconsbw/Prescription.png">
            <img class="sidebar-tile" src="/iconsbw/Xray.png">
        </div>
        <div class="column-two-of-two">
            <img class="sidebar-tile" src="/iconsbw/Health_Meter.png">
            <img class="sidebar-tile" src="/iconsbw/Hospital.png">
            <img class="sidebar-tile" src="/iconsbw/ID_Bracelet.png">
            <img class="sidebar-tile" src="/iconsbw/Insurance_Plan.png">
            <img class="sidebar-tile" src="/iconsbw/Labs.png">
        </div>
    </div>
</template>