



<template name="appContainerTemplate">
    <div class="mainLayoutPaneContainer">
        {{#if loggedIn}}
        <div id="mainLayoutPane">
            {{> workqueuesPageTemplate }}
            {{> profilePageTemplate }}
            {{> communityPageTemplate }}
            {{> iconAssetsPageTemplate }}
            {{!> dashboardPageTemplate}}
        </div>
        {{> sidebarTemplate }}
        {{else }}
        {{> guestPageTemplate }}
        {{/if }}
    </div>
    {{> reactiveOverlaysTemplate }}
</template>


<template name="jsonContentPanelTemplate">
    {{#if showJsonPanel }}
    <div id="json-content" class="row panel jsondata notepad">
        {{ jsonData }}
    </div>
    {{/if }}
</template>


<template name="dropboxAlertTemplate">
    <div id="dropboxAlertCard" class="card" style="z-index: 1000000">
        <!-- TODO:  add task icon to alert -->
        <!-- TODO:  replace with task detail card? -->
        <div class="card-header clipped_corner rounded-top-right">
            <span class="white card-meta-data">Alert</span>
        </div>
        <div class="panel">
            {{ text }}
        </div>
    </div>
</template>
