<template name="workqueuesPageTemplate">
    <div id="workqueuesPage" class="page">
        <div class="new-task-container">
            <input id="newTaskInput" type="text" class="search lightgray" value="add new task" />
        </div>
        {{> todos}}
    </div>
    <div class="hidden resize-trigger">resied: {{resized}}</div>
</template>

<!-- //TODO:  refactor 'todos' to 'todosListTemplate' or 'workqueueTemplate' -->
<template name="todos">
    <div>
        {{#if receivedNewAlert }}
        <div class="padded">
            {{> dropboxAlert}}
        </div>
        {{/if }}
    </div>
    <div id="items-view">
        <ul id="item-list">
            {{#each todos}}
            {{> todo_item}}
            {{/each}}
        </ul>
    </div>
    {{> taskDetailCardTemplate }}
</template>

<!-- TODO:  refacotor 'todo_item' to 'todoItemTemplate' -->
<template name="todo_item">
    <li class="todo {{done_class}}">
        <ul class="inline-list">
            {{#if editing}}
            <li class="edit">
                <input id="todo-input" type="text" value="{{!text}}" />
            </li>
            {{else}}
            <li class="display">
                <!-- TODO:  convert done_checkbox into pictograph toggle button -->
                <input class="check" name="markdone" type="checkbox" {{{done_checkbox}}} />

                <!-- TODO:  rename 'destroy' button as 'todo-delete-button' -->
                <!-- TODO:  renenable button, and conditionally display it on non-mobile devices -->
                <!--<li class="destroy"></li>-->
            </li>
            <li class="display">
                <span class="todo-text">{{text}}</span>
            </li>
            {{/if}}
            <li class="item-tags">

            </li>
        </ul>
        {{#if showDeleteButton}}
            <ul class="horizontal-tags">
                <li class="delete-button removable_tag tag">
                    <div class="name">
                        Delete
                    </div>
                </li>
                <li class="largish addtag pictograph"> </li>
            </ul>
        {{else}}
            <ul class="horizontal-tags">
                {{#each tag_objs}}
                <li class="tag removable_tag">
                    <div class="name">{{tag}}<span class="pictographs remove"> X</span></div>
                </li>
                {{/each}}
                {{#if adding_tag}}
                <li class="tag edittag">
                    <input type="text" id="edittag-input" value="" />
                </li>
                {{else}}
                <li class="largish addtag pictograph">J</li>
                <li class="largish pictograph">x</li>
                {{/if}}
            </ul>
        {{/if }}
    </li>
</template>



<!-- TODO: select better name for taskDetailCardTemplate  -->
<template name="taskDetailCardTemplate">
    <!-- TODO: Extract showTaskDetail to outside of taskDetailCardTemplate  -->
    {{#if showTaskDetail}}
    <div class="spacer row"></div>
    <div id="taskDetailCard" class="task-detail-container">
        {{#if showTaskDetailModalMask }}
            <div class="detailed-task-card-modal-mask-gradient"></div>
            <div class="detailed-task-card-modal-mask"></div>
        {{/if }}

        <div class="card-header rounded-top-right">
            <span class="white card-meta-data barcode">{{todo_id}}</span>
            <span class="pictograph close-task-card hide-on-mobile">u</span>
        </div>

        <div class="task-detail-card-body card-body-resize">
            <div class="task-detail-image-container"><img class="task-detail-card-image-image" src="{{todo_image}}" /></div>
            <div class="detailed-task-text">{{ todo_text }}</div>
            <div class="card-delete-button largish pictograph">x</div>
        </div>

        <div class="task-detail-tag-footer card-footer-resize">
            <ul class="lower-horizontal-tags">
                {{#each tag_list}}
                <li class="tag removable_tag">
                    <div class="name">{{tag}}<span class="pictographs remove"> X</span></div>
                </li>
                {{/each}}
                {{#if adding_detailed_tag}}
                <li class="tag edittag">
                    <input type="text" id="edittagInputDetailed" value="" />
                </li>
                {{else}}
                <li id="detailedTaskAddTagIcon" class="largish addtag pictograph">J</li>
                {{/if}}
            </ul>
        </div>
        <div class="spacer row"></div>
    </div>
    {{/if}}
</template>
