<!-- //TODO:  add color selection block to specify selected theme-->
<!-- //TODO:  add button to delete user -->
<!-- //TODO:  add button to reset password -->
<!-- //TODO:  add button to export workqueues history ? -->
<!-- //TODO:  create button to populate workqueue with personal tasks -->

<template name="profilePageTemplate">
    <div id="profilePage" class="touch-disabled page helveticas">
        {{#if receivedNewAlert }}
            <div class="row">
                {{> dropboxAlertTemplate}}
            </div>
        {{/if }}
        <div class="spacer row"></div>
        <div class="row">
            {{> userCardTemplate }}
            {{#if isActiveCollaboratorVisible }}
                {{> activeCollaboratorCardTemplate }}
            {{/if}}
            {{#if isHipaaAuditLogVisible }}
            {{> hipaaAuditLogTemplate }}
            {{/if}}
        </div>
    </div>
</template>



<template name="userCardTemplate">
    <!--<div class="user-card-block">-->
        <div class="hidden">{{resize}}</div>

        <div class="clickable synopsis card-container with-bottom-spacer">
            <div class="card-header rounded-top-right">
                <span class="white card-meta-data barcode">*{{user_id}}*</span>
            </div>
            <div class="user-profile-card card-body ">
                <div class="user-card-detailed">
                    <img class="user-card-image drop-zone gray-border" id="drop_zone" src="{{user_image}}" />

                    <div class="user-card-data">

                        <!-- TODO:  remove foundation.css twelve column usage -->
                        <div class="twelve columns">
                            <ul id="profileItems" class="profile-items card-data dictionary">
                                <li>
                                    <div id="profile-display-name-label" class="dictionary-key hidden-top-row">Name</div>
                                    {{#if editing_name}}
                                    <div id="userNameInput" class="edit dictionary-value-editing hidden-top-row">
                                        <input id="profile-input-name" type="text" placeholder="Jane Doe" value="{{user_name}}" />
                                    </div>
                                    {{else}}
                                    <div id="userNameDisplay" class="userNameDisplay display dictionary-value-editing hidden-top-row">
                                        <span id="profile-display-name" class="dictionary-value hidden-top-row">{{user_name}}</span>
                                    </div>
                                    {{/if}}
                                </li>

                                <li >
                                    <div id="profile-display-birthdate-label" class="dictionary-key">Birthdate</div>
                                    {{#if editing_birthdate}}
                                    <div id="userDateOfBirthInput" class="edit dictionary-value-editing">
                                        <input id="profile-input-birth-date" type="text" placeholder="1969/01/27" value="{{user_birthdate}}" />
                                    </div>
                                    {{else}}
                                    <div id="userDateOfBirthDisplay" class="userDateOfBirthDisplay display dictionary-value-editing">
                                        <span id="profile-display-birth-date" class="dictionary-value">{{user_birthdate}}</span>
                                    </div>
                                    {{/if}}
                                </li>
                                <li>
                                    <div id="profile-display-avatar-label" class="dictionary-key">Avatar</div>
                                    {{#if editing_avatar}}
                                    <div id="userAvatarInput" class="edit dictionary-value-editing">
                                        <input id="profile-input-avatar" type="text" placeholder="28371d8c-42be-4a67-83aa-27a863fe9060.png" value="{{user_avatar}}" />
                                    </div>
                                    {{else}}
                                    <div id="userAvatarDisplay" class="userAvatarDisplay display dictionary-value-editing">
                                        <span id="profile-display-avatar" class="dictionary-value">{{user_avatar}}</span>
                                    </div>
                                    {{/if}}
                                </li>
                                <li>
                                    <div id="profile-display-dropbox-label" class="dictionary-key">Dropbox</div>
                                    <div id="userDropBoxDisplay" class="userAvatarDisplay display dictionary-value-editing">
                                        <span id="profile-display-dropbox" class="gray dictionary-value">{{user_dropbox}}</span>
                                    </div>
                                </li>
                                <!--<li>-->
                                    <!--<div id="profile-display-active-collaborator-label" class="dictionary-key">Collaborator</div>-->
                                    <!--<div id="userActiveCollaboratorDisplay" class="userAvatarDisplay display dictionary-value-editing">-->
                                        <!--<span id="profile-display-active-collaborator" class="gray dictionary-value">{{user_active_collaborator}}</span>-->
                                    <!--</div>-->
                                <!--</li>-->

                                <!-- TODO:  move currentPage input to detailedUsersInfoCard -->
                                <!--<li>-->
                                <!--<div id="profile-display-lastpage-label" class="dictionary-key">Current Page</div>-->
                                <!--<div id="userLastPageDisplay" class="userAvatarDisplay display dictionary-value-editing">-->
                                <!--<span id="profile-display-lastpage" class="gray dictionary-value">{{!user_currentpage}}</span>-->
                                <!--</div>-->
                                <!--</li>-->
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card-footer"></div>
        </div>
</template>



<template name="activeCollaboratorCardTemplate">
    <div class="clickable synopsis card-container with-bottom-spacer">
        <div class="card-header rounded-top-right">
            <span class="white card-meta-data">Active Collaborator</span>
        </div>
        <div class="user-profile-card card-body">
            <div class="user-card-detailed">
                <img class="user-card-image collaborator-image gray-border" id="originImage" src="{{collaborator_avatar}}" />

                <div class="user-card-data">

                    <!-- TODO:  remove foundation.css twelve column usage -->
                    <div class="twelve columns">
                        <ul class="profile-items card-data dictionary">
                            <li>
                                <div class="dictionary-key hidden-top-row">Collaborator</div>
                                <div class="userNameDisplay display dictionary-value-editing hidden-top-row">
                                    <span class="dictionary-value hidden-top-row">{{collaborator_name}}</span>
                                </div>
                            </li>

                            <li >
                                <div class="dictionary-key">Birthdate</div>
                                <div class="userDateOfBirthDisplay display dictionary-value-editing">
                                    <span class="dictionary-value">{{collaborator_birthdate}}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>
        <div class="card-footer"></div>
    </div>
</template>



<template name="hipaaAuditLogTemplate">
    <div id="hipaaAuditLog" class="card">
        <div class="card-header clipped_corner rounded-top-right">
            <span class="pictograph">j</span> HIPAA Audit Log
        </div>
        <div class="panel">
            {{> hipaaLog }}
        </div>
        <div>
</template>


