<template name="workqueuesPageTemplate">
    <div id="workqueuesPage" class="page">
        <div class="new-task-container">
            <input id="newTaskInput" type="text" class="search lightgray" value="add new task" />
        </div>
        {{> todos}}
    </div>
    <div class="hidden resize-trigger">resied: {{resized}}</div>
</template>

<!-- //TODO:  refactor 'todos' to 'todosListTemplate' or 'workqueueTemplate' -->
<template name="todos">
    <div>
        {{#if receivedNewAlert }}
        <div class="padded">
            {{> dropboxAlert}}
        </div>
        {{/if }}
    </div>
    <div id="items-view">
        <ul id="item-list">
            {{#each todos}}
            {{> todo_item}}
            {{/each}}
        </ul>
    </div>
    {{> taskDetailCardTemplate }}
</template>


<template name="todo_item">
    <li class="todo {{done_class}}">
        <ul class="inline-list">
            {{#if editing}}
            <li class="edit">
                <input id="todo-input" type="text" value="{{!text}}" />
            </li>
            {{else}}
            <!--<li class="destroy"></li>-->
            <li class="display">
                <input class="check" name="markdone" type="checkbox" {{{done_checkbox}}} />
            </li>
            <li class="display">
                <span class="todo-text">{{text}}</span>
            </li>
            {{/if}}
            <li class="item-tags">

            </li>
        </ul>
        <ul class="horizontal-tags">
            <!--<li class="bookend-left"></li>-->
            {{#each tag_objs}}
            <li class="tag removable_tag">
                <div class="name">{{tag}}<span class="pictographs remove"> X</span></div>

            </li>
            {{/each}}
            {{#if adding_tag}}
            <li class="tag edittag">
                <input type="text" id="edittag-input" value="" />
            </li>
            {{else}}
            <li class="largish addtag pictograph">J</li>
            {{/if}}
        </ul>
        <!--<div class="bookend-right"></li>-->
    </li>
</template>



<!-- TODO: select better name for taskDetailCardTemplate  -->
<template name="taskDetailCardTemplate">
    <!-- TODO: Extract showTaskDetail to outside of taskDetailCardTemplate  -->
    {{#if showTaskDetail}}
    <div class="spacer row"></div>
    <div id="taskDetailCard" class="task-detail-container">
        <div class="detailed-task-card-modal-mask-gradient"></div>
        <!--<div class="task-detail-card"><div>-->
        <!--</div>-->
        <div class="card-header rounded-top-right">
            <span class="white card-meta-data barcode">{{todo_id}}</span>
        </div>

        <div id="taskDetailCardBody" class="task-detail-card-body">
            <!--<div class="absolute-anchor">-->
                <div class="task-detail-image-container"><img class="task-detail-card-image-image" src="{{todo_image}}" /></div>
                <div class="detailed-task-text">{{ todo_text }}</div>
                <div class="horizontal-tags-container">
                </div>
        </div>
        <div id="taskDetailTagFooter" class="task-detail-tag-footer">
            <ul class="lower-horizontal-tags">
                <!--<li class="bookend-left"></li>-->
                {{#each tag_list}}
                <li class="tag removable_tag">
                    <div class="name">{{tag}}<span class="pictographs remove"> X</span></div>
                </li>
                {{/each}}
                {{#if adding_detailed_tag}}
                <li class="tag edittag">
                    <input type="text" id="edittagInputDetailed" value="" />
                </li>
                {{else}}
                <li id="detailedTaskAddTagIcon" class="largish addtag pictograph">J</li>
                {{/if}}
            </ul>
        </div>
        <div class="spacer row"></div>


        <!--<div class="task-detail-card">-->
            <!--&lt;!&ndash;<div class="detailed-task-card-modal-mask-gradient"></div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="detailed-task-card-modal-mask"></div>&ndash;&gt;-->

            <!--<div class="user-card-detailed no-background">-->

                <!--<div class="user-card-synopsis">-->
                    <!--<div class="spacer row"></div>-->
                    <!--&lt;!&ndash;<span class="user-card-synopsis-email">{{ todo_done }}</span><br>&ndash;&gt;-->
                    <!--&lt;!&ndash;<ul class="detailed-task-card-tags">&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<li class="bookend-left"></li>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;{{#each tag_objs}}&ndash;&gt;-->
                        <!--&lt;!&ndash;<li class="tag removable_tag">&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="name">{{tag}}<span class="pictographs remove"> X</span></div>&ndash;&gt;-->

                        <!--&lt;!&ndash;</li>&ndash;&gt;-->
                        <!--&lt;!&ndash;{{/each}}&ndash;&gt;-->
                        <!--&lt;!&ndash;{{#if adding_tag}}&ndash;&gt;-->
                        <!--&lt;!&ndash;<li class="tag edittag">&ndash;&gt;-->
                            <!--&lt;!&ndash;<input type="text" id="edittag-input-card" value="" />&ndash;&gt;-->
                        <!--&lt;!&ndash;</li>&ndash;&gt;-->
                        <!--&lt;!&ndash;{{else}}&ndash;&gt;-->
                        <!--&lt;!&ndash;<li class="largish send-to-collaborator pictograph">o</li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li class="largish pictograph">J</li>&ndash;&gt;-->
                        <!--&lt;!&ndash;{{/if}}&ndash;&gt;-->
                    <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                <!--</div>-->
                <!---->

            <!--</div>-->

        <!--</div>-->

        <!--<div class="task-detail-card"></div>-->

    </div>
    {{/if}}
</template>
