
<template name="workqueuesPageTemplate">
    <div id="workqueuesPage" class="page helveticas">
        <div class="new-task-container">
            <input id="newTaskInput" type="text" class="search lightgray" value="add new task" />
        </div>
        <div>
            {{#if receivedNewAlert }}
            <div class="padded">
                {{> dropboxAlertTemplate}}
            </div>
            {{/if }}
        </div>
        {{> workqueueTemplate}}
    </div>
    <div class="hidden resize-trigger">resized: {{resized}}</div>
</template>


<template name="workqueueTemplate">
    <div id="items-view" class="touch-trigger touch-disabled">
        <ul id="item-list">
            {{#each todos}}
            {{> taskItemTemplate}}
            {{/each}}
        </ul>
    </div>
    {{#if showTaskDetail}}
    {{> taskDetailCardTemplate }}
    {{/if}}
</template>

<template name="taskItemTemplate">
    <li class="todo {{done_class}}">
        <ul class="inline-list">
            {{#if editing}}
            <li class="edit">
                <input id="todo-input" type="text" value="{{!text}}" />
            </li>
            {{else}}
            <li class="display">
                <span class="largish unselectable {{task_complete}} checkmark pictogram">%</span>
            </li>
            <li class="display">
                <span class="largish unselectable {{task_star}} task-star pictogram">*</span>
            </li>
            <li class="display">
                <span class="largish unselectable lightgray task-info pictogram hide-for-small">b</span>
            </li>
            <li class="display">
                <span class="largish unselectable lightgray task-delete pictogram hide-for-small">x</span>
            </li>
            <li class="display">
                <span class="todo-text {{task_text_complete}}">{{text}}</span>
            </li>
            {{/if}}
            <li class="item-tags">

            </li>
        </ul>
        {{#if showDeleteButton}}
            <ul class="horizontal-tags">
                <li class="delete-button removable_tag tag">
                    <div class="name">
                        Delete
                    </div>
                </li>
                <li class="largish addtag pictograph"> </li>
            </ul>
        {{else}}
            <ul class="horizontal-tags">
                {{#each tag_objs}}
                <li class="tag removable_tag">
                    <div class="name">{{tag}}<span class="pictographs remove"> X</span></div>
                </li>
                {{/each}}
                {{#if adding_tag}}
                <li class="tag edittag">
                    <input type="text" id="edittag-input" value="" />
                </li>
                {{else}}
                <li class="largish addtag pictograph">J</li>
                {{/if}}
            </ul>
        {{/if }}
    </li>
</template>



<template name="taskDetailCardTemplate">
    <div id="taskDetailCard" class="task-detail-container">
        {{#if showTaskDetailModalMask }}
            <div class="detailed-task-card-modal-mask-gradient"></div>
            <div class="detailed-task-card-modal-mask"></div>
        {{/if }}

        <div class="card-header rounded-top-right">
            <span class="white neo-card-meta-data barcode">{{todo_id}}</span>
        </div>

        <div class="task-detail-card-body card-body-resize">
            <div class="task-detail-image-container"><img class="task-detail-card-image-image" src="{{todo_image}}" /></div>
            <div class="detailed-task-text">{{ todo_text }}</div>

            <ul class="web-link-controls">
                <li>
                    <span class="web-icon pictograph">w</span>
                    <span class="web-link-text">---------------------------------------------------------------------------------------</span>
                </li>
            </ul>


            <ul class="detailed-task-card-controls">
                <li class="task-detail-checkmark curved-control-button">
                    <span class="control-button {{detailed_task_complete}} pictograph">%</span>
                </li>
                <li class="task-detail-star">
                    <span class="control-button {{detailed_task_star}} pictograph">*</span>
                </li>
                <li class="task-detail-send">
                    <span class="control-button pictograph">o</span>
                    <span class="sender-name">{{activeCollaboratorName}}</span>
                </li>
                <li class="task-detail-delete">
                    <span class="control-button pictograph">x</span>
                </li>
            </ul>
        </div>

        <div class="task-detail-tag-footer card-footer-resize">
            <ul class="lower-horizontal-tags">
                {{#each tag_list}}
                <li class="tag removable_tag">
                    <div class="name">{{tag}}<span class="pictographs remove"> X</span></div>
                </li>
                {{/each}}
                {{#if adding_detailed_tag}}
                <li class="tag edittag">
                    <input type="text" id="edittagInputDetailed" value="" />
                </li>
                {{else}}
                <li id="detailedTaskAddTagIcon" class="largish addtag pictograph">J</li>
                {{/if}}
            </ul>
        </div>
        <div class="spacer row"></div>
    </div>
</template>
