#lists .list {
}
#lists .selected {
}
#lists .selected .note {
    background:#ccccdd;
}
#lists .list-name {
    cursor: pointer;
    color: black;
    text-decoration: none;
}
#lists .list-count {
    cursor: pointer;
    color: black !important;
    text-decoration: none;
}
#createList {
    padding: 3px 6px;
    margin-top: 5px;
}

#createList input {
    width: 180px;
}


.note {
    position:relative;
    margin: 10px;
    padding-top: 10px;
    padding: 10px;
    height: 60px;
    color:#ddd;
    background:#cccccc;
    overflow:hidden;
    cursor: pointer;
}

.note:before {
    content:"";
    position:absolute;
    top:0;
    right:0;
    border-width:0 16px 16px 0;
    border-style:solid;
    border-color:#dddddd #dddddd #666 #666;
    background:#658E15;
    -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    display:block; width:0; /* Firefox 3.0 damage limitation */
}

.note.rounded {
    -webkit-border-radius:5px 0 5px 5px;
    -moz-border-radius:5px 0 5px 5px;
    border-radius:5px 0 5px 5px;
}

.note.rounded:before {
    border-width:8px;
    border-color:#ddd #ddd transparent transparent;
    -webkit-border-bottom-left-radius:5px;
    -moz-border-radius:0 0 0 5px;
    border-radius:0 0 0 5px;
}
