.drop-zone{
  color: gray;
  text-align: center;
  cursor: pointer;
}

.import_thumbnails {
  height: 75px;
  border: 1px solid #000;
  margin: 10px 5px 0 0;
}
#profileItems li{
  cursor: pointer;
}
.profile-items li{
  width: 100%;
  float: left;
}
.user-card-detailed{
  position: absolute;
  border: 1px solid gray !important;
  padding: 0px;
  width: 100%;
  height: 200px;
  z-index: 1000;
}
.card-header{
  position: absolute;
  top: -20px;
  left: -0.5px;
  height: 20px;
  width: 300px;
  background-color: #666666;
  color: white;
  padding-left: 10px;
  padding-top: 2px;
}
.user-card-image{
  position: absolute;
  left: 0px !important;
  height: 100%;
  border: none;
}
.user-card-data{
  position: absolute;
  padding-left: 120px;
  width: 100%;
}
.user-card-synopsis{
  position: absolute;
  padding-left: 210px;
  width: 100%;
}
.user-card-synopsis-name{
  padding-top: 10px;
  font-weight: bold;
}
.user-card-block{
  position: relative;
  height: 20px;
}
.user-card-detailed:hover{
  border: 1px solid darksalmon !important;
  cursor: pointer;
}
.user-card-detailed:hover .card-header{
  background-color: darksalmon;
}

.user-card-button{
  width: 80%;
  border: 1px solid gray;
  background-color: lightgray;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  cursor: pointer;
}
.user-card-button:hover{
  border: 1px solid red;
}

//--------------------------------------------

.user-card-detailed-extended{
  top: 240px;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0px;
}
.extended-data-block{
//position: absolute;
  height: 100%;
}

.profile-list-label{
  left: 0px;
  top: 0px;
  height: 20px;
  background-color: #666666;
  color: white;
  width: 100%;
  padding-left: 20px;
  padding-right:20px;
  padding-top: 3px;
}
.simple-user{
  position: asbolute;
  top: 20px;
}

.simple-user li{

}
.simple-user li:hover{
  color: darksalmon;
  cursor:pointer;
}
.simple-user .destroy{
  margin-right: 40px;
  font-size: 1.2em;
}

.simple-user li{

}