@import 'syntax.custom.less';

.making-this{
  position: relative;
  right: 280px;
  top: 100px;
  width: 260px;
  height: 20px;
}
.startHere{
  position: fixed;
  right: 40px;
  top: 80px;
  font-size: 140%;
}

#guestPage{
  .sidebar-tab{
    margin-left: 0px !important;
    margin-top: 3px !important;
    padding: 6px !important;
    padding-left: 12px !important;
    font-size: 110% !important;
  }


  .card-header{
    background-color: #999999;
    -webkit-border-top-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    border-top-left-radius: 2px;
  }
  .card-body{
    border-left: 2px solid #999999 !important;
    border-right: 2px solid #999999 !important;
    border-top: 2px solid #999999 !important;

    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
  }
  .card-footer{
    height: 5px;
    border-left: 2px solid #999999 !important;
    border-right: 2px solid #999999 !important;
    border-bottom: 2px solid #999999 !important;

    -webkit-border-bottom-right-radius: 5px !important;
    -moz-border-radius-bottomright: 5px !important;
    border-bottom-right-radius: 5px !important;

    -webkit-border-bottom-left-radius: 5px !important;
    -moz-border-radius-bottomleft: 5px !important;
    border-bottom-left-radius: 5px !important;
  }

  .card-container:hover{
    .card-header{
      background-color: #666666;
    }
    .card-body{
      border-left: 2px solid #666666 !important;
      border-right: 2px solid #666666 !important;
      border-top: 2px solid #666666 !important;
    }
    .card-footer{
      border-left: 2px solid #666666 !important;
      border-right: 2px solid #666666 !important;
      border-bottom: 2px solid #666666 !important;
    }
  }

}

//----------------------------------------------------

// landscape orientation
@media only screen and (min-width: 768px) {

}

// portrait orientation
@media only screen and (max-width: 768px) {
  #guestPage{
    #moneyShotImage{
      .fullwidth;
    }
    .six{
      width: 100% !important;
    }
    .hipaa-notice{
      position: fixed;
      bottom: 40px;
    }
    .moneyShot{
      padding: 0px;
      margin: 0px;
      border: 0px solid none;
    }
    .doesnt-overlap-header{
      padding-top: 0px !important;
    }
    .moneyShotContainer{
      padding: 0px;
      margin: 0px;
      border: 0px solid none;
    }
  }
  .hidden-on-portrait{
    .hidden;
  }
  #footerActionBar{
    bottom: 0px;
  }

}
@media only screen and (max-width: 480px) {
}

//----------------------------------------------------

