.user-id{
  color: lightsteelblue;
}
.user-card{
  border-top: 1px solid lightgray !important;
  margin-bottom: 4px;
  padding-bottom: 8px;
  padding-top: 8px;
  border: 1px solid white;
}
.user-card div{
  //padding-left: 10px;
  //padding-right: 10px;
}
.user-card:hover{
  border: 1px solid lightgray;
  background-color: #eeeeee;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;

  cursor: pointer;
}
.user-card:hover .user-id{
  color: white;
}
.user-card:hover .user-select{
  visibility: visible;
  display: block;
}
.user-email{
  margin-top: -5px;
}


.user-id{
  position: absolute;
  left: 0px;
  top: 20px;
  font-size: 0.8em;
}
.user-email{
  position: absolute;
  float: left;
  left: 0px;
  top: 4px;
}
.user-posts{
  float: right;
  position: absolute;
  right: 0px;
  top: 20px;
  font-size: 0.8em;
  margin-right: 10px;
}
.user-rank{
  float: right;
  position: absolute;
  right: 0px;
  top:  0px;
  margin-right: 10px;
}
.user-select{
  float: right;
  margin-top: -30px;
  margin-right: 20px;
  width: 100px;
  text-align: center;

  border: 1px solid steelblue;
  background-color: white;
  color: black;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;

  cursor: pointer;
}


// wheeee!  we're starting to actually use less!
// please note the nested layout rules

.collaborators, .carewatch{

  // these items are not nested
  padding-top: 5px;


  // these items *are* nested
  li:hover{
    cursor: pointer;
    color: red;
  }
  li .destroy {
    cursor: pointer;
    float: right;
    right: 12px;
    top: 15px;
    height: 20px;
    width: 20px;
  }
  li:hover .destroy {
    background: url('/icons/destroy.png') no-repeat 0 0;
  }
  li .destroy:hover {
    background-position: 0 -20px;
  }
}


