
@font-face
{
  font-family: ChalkDust;
  src: url('/font/ChalkDust.ttf');
}
@font-face
{
  font-family: FontAwesome;
  src: url('/font/FontAwesome.ttf');
}
@font-face
{
  font-family: HarabaraHand;
  src: url('/font/HarabaraHand.ttf');
}
@font-face
{
  font-family: ItAintRocketScience;
  src: url('/font/ItAintRocketScience.ttf');
}
@font-face
{
  font-family: ModernPictographs;
  src: url('/font/ModernPictographs.otf');
}


@font-face
{
  font-family: ShelterMe;
  src: url('/font/ShelterMe.ttf');
}
@font-face
{
  font-family: WildScript;
  src: url('/font/WildScript.ttf');
}
@font-face
{
  font-family: Windsong;
  src: url('/font/Windsong.ttf');
}


.chalkdust{
  font-family: ChalkDust;
}
.awesome{
  font-family: FontAwesome;
}
.harabarahand{
  font-family: HarabaraHand;
}

.itaintrocketscience{
  font-family: ItAintRocketScience;
}
.pictographs{
  font-family: ModernPictographs;
}
.shelterme{
  font-family: ShelterMe;
  font-size: 1.2em;
}
.wildscript{
  font-family: WildScript;
  font-size: 1.4em;
}
.windsong{
  font-family: Windsong;
  font-size: 1.5em;
}
