<template name="webBrowserPageTemplate">
    <div id="webBrowserPage" class="padded page helveticas">
        <input type="text" class="search" placeholder="www.google.com" />

        <object type="text/html" data="http://www.google.com" width="100%">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam libero libero, luctus at semper non, mattis id enim. Nulla pretium, diam eu porta dapibus, erat orci sodales mi, at porttitor nulla est vel metus. Maecenas condimentum nisi id tellus blandit porttitor. Aliquam lacinia elit nec elit condimentum gravida. Sed a lacus vitae tellus vulputate tristique. In auctor risus eu neque semper gravida. Cras vestibulum, sem posuere luctus tempor, dui ante aliquam ipsum, quis imperdiet ligula sapien in dui. Cras volutpat faucibus nibh eu commodo. Ut id sapien erat, sit amet fringilla odio. Maecenas quis dolor ligula. Aenean erat quam, volutpat sit amet fringilla quis, auctor eget ligula. Integer tincidunt dictum purus. Suspendisse potenti.</p>
        </object>
    </div>
</template>