

<template name="guest_page">
    <div style="margin-top: 40px;">
        <div class="twelve columns">
            <div class="row">
                <div class="twelve columns">
                    <p class="itaintrocketscience startHere hide-for-small hide-for-medium">start here!</p>
                    <div class="six columns">
                        <div class="making-this itaintrocketscience hide-for-small hide-for-medium">Money shot!  This is what we're trying to create!</div>
                        <div class="row">
                            <img class="gray panel with-rounded-corners" src="/images/visionStatement/day-of-glass-money-shot.png">
                        </div>
                        <div class="making-this itaintrocketscience hide-for-small hide-for-medium">The healthcare related stuff begins at 6:23 into the video.</div>
                        <div class="row">
                            <iframe class="gray panel with-rounded-corners" width="100%" height="300px" src="http://www.youtube.com/embed/X-GXO_urMow" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div class="spacer row"></div>
                        <a href="http://www.youtube.com/watch?v=6Cf7IL_eZ38">
                            <div class="gray panel with-rounded-corners centered">
                                <span class="largish pictograph">P  </span>See the original Day of Glass Video
                                <!--<iframe class="gray panel with-rounded-corners" width="410" height="300" src="http://www.youtube.com/embed/6Cf7IL_eZ38" frameborder="0" allowfullscreen></iframe>-->
                            </div>
                        </a>
                        <div class="spacer row"></div>
                        <p class="panel">A special thanks to Corning for making these wonderful Day of Glass Videos!  Buy their glass!  Buy products made with their glass!  We'll be working on the software and healthcare apps that you can use with their products!</p>
                    </div>

                    <div class="six columns">
                        <div class="row">
                            <h2>Clinical Workqueues</h2>
                            <p>Clinical Workqueues is the task management and workflow module to a new Personal Healthrecord Application (PHA).  Motivated by the HITECH and Affordable Care Acts, inspired by the Corning Day of Glass 2 Video, made possible by the iPad, and created using the Meteor framework using Node.js and MongoDB, the Clinical Workqueues App is a rethinking of what EMR and PHR applications can and should be.  </p>
                            <div class="panel with-rounded-corners">
                                <h5 class="bold">Features</h5>
                                <hr>
                                <p> Mobile<br>
                                    Bedside Computing<br>
                                    Multiuser & Social<br>
                                    Ad-Hoc Accountable Care Organizations<br>
                                    Patient Outcome Analysis<br>
                                    HIPAA Compliant<br>
                                    Clinician Workflows
                                </p>
                            </div>

                            <div class="spacer row"></div>
                            <div class="notepad panel">
                                NOTICE:  Clinical Workqueues is currently in <bold class="red">ALPHA</bold>.  It is <bold>not</bold> HIPAA compliant (yet).  Information may be deleted or lost as we migrate to Beta release and move onto our production platform.  You have been warned!  This public demo is made available only for evaulation purposes at the current time.
                            </div>
                            <div class="spacer row"></div>
                            <!--<div class="button fullwidth">Interested? Create an Account!</div>-->


                            <!--<h4 class="gray">Vision Statement</h4>-->
                            <!--<p>The Clinical Workqueues App was inspired by by a whole host of things coming together at the same time... notably, the HITECH Act, the Affordable Care Act, and the Apple iPad...  But it was a combination of Corning Day of Glass Video 2, and the emergence of an open source application framework called Meteor - which fused two of the best newest technologies, Node.js and MongoDB - .  It was actually inspired by a whole host of things </p>-->


                            <!--<p>Suffice it to say that if you work in healthcare and use electronic medical record systems, and you haven't seen the Corning Day of Glass Videos...  well, its about time you see some of the concept videos of where industries leaders see healthcare heading.  And we're not talking about industry leaders like Epic, Cerner, or General Electric.  For as great as products as Epic, Millennium, and Centricity are, they're architected and designed on very old technologies.</p>-->
                            <!--<p>If you want a real vision of where electronic medical record systems are going, it's necessary to look outside the industry, and question some of the basic assumptions about what we know computers to be.  For the past 20 years, we've been living in the personal computer (PC) era, and have designed our EMR systems accordingly.  And in that time, hospitals and healthcare professionals have tried countless times to create a vision of bedside computing.  They've put PCs on rolling carts, equiped physicians with laptops, and tried every conceivable idea to bring the records to the bedside.  Because they know the bedside is where the patient interaction occurs.</p>-->
                            <!--<p>Along the way, healthcare professionals have been experimenting with tablets.  Years ahead of their conterparts in other industries, healthcare has been keen on seeing a tablet product since the late 90s.  But it always proved infeasible, due to a variety of issues ranging from short battery life to klunky pen interfaces to broken screens.  </p>-->
                            <!--<p>And then came along the iPad.  The iPad is only perhaps two years old at this point, but from the healthcare professional's perspective, it changes everything.  Why?  Because Apple finally got the ergonomics right.  Compared to all of it's predecessors, the iPad got things right like the gorilla glass (so user fingers dont crush the screen), the 1 inch bezel (which allows people to hold the tablet without obscuring the screen), the battery life, and multitouch controls.  It turns out that, primarily, getting the electronic medical record to patient bedsides was an *ergonomics* issue.</p>-->
                            <!--<p>And it required a consumer electronics company, not involved in healthcare in any way, to rethink the entire approach.  To experiment with new materials and new user interfaces.  To approach it from an outsider's perspective.</p>-->

                            <!--<div class="panel"></div>-->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>
