
<template name="todos">
    {{#if any_list_selected}}
    <div id="items-view">
        <ul id="item-list">
            {{#each todos}}
            {{> todo_item}}
            {{/each}}
        </ul>
    </div>
    <!--<div id="new-todo-box">-->
    <!--<input type="text" id="new-todo" placeholder="New item" />-->
    <!--</div>-->
    {{/if}}
    <!--<div class="three columns">-->
    <!--<img class="dynamic panel" rel="#photo41" src="/images/placeholder-240x240.gif" />-->
    <!--</div>-->
    <!--<div class="simple_overlay" id="photo41">-->
    <!--<img src="/images/placeholder-240x240.gif" />-->
    <!--<div class="close"></div>-->
    <!--</div>-->
    {{> taskDetailCardTemplate }}
</template>
<template name="taskDetailCardTemplate">
    <!--<div class="simple_overlay" id="photo41">-->
        <!--<img src="/images/placeholder-240x240.gif" />-->
        <!--<div class="close"></div>-->
    <!--</div>-->
    {{#if showTaskDetail}}
    <div class="spacer row"></div>
    <div class="padded row">
        <div id="taskDetailCard" class="panel user-card-detailed bottom-anchored no-background">
            <div class="card-header rounded-top-right">
                <span class="white card-meta-data barcode">{{todo_id}}</span>
            </div>
            <img class="user-card-image" src="{{todo_image}}" />
            <div class="user-card-synopsis">
                <div class="spacer row"></div>
                <span class="user-card-synopsis-name">{{ todo_text }}</span><br>
                <span class="user-card-synopsis-email">{{ todo_done }}</span><br>
                <ul class="bottom-anchored detailed-task-card-tags">
                    <!--<li class="bookend-left"></li>-->
                    {{#each tag_objs}}
                    <li class="tag removable_tag">
                        <div class="name">{{tag}}<span class="pictographs remove"> X</span></div>

                    </li>
                    {{/each}}
                    {{#if adding_tag}}
                    <li class="tag edittag">
                        <input type="text" id="edittag-input-card" value="" />
                    </li>
                    {{else}}
                    <li class="addtag pictograph tag">J</li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </div>
    {{/if}}
</template>

<template name="todo_item">
    <li class="todo {{done_class}}">
        <ul class="inline-list">
            {{#if editing}}
            <li class="edit">
                <input id="todo-input" type="text" value="{{!text}}" />
            </li>
            {{else}}
            <li class="destroy"></li>
            <li class="display">
                <input class="check" name="markdone" type="checkbox" {{{done_checkbox}}} />
            </li>
            <li class="display">
                <span class="todo-text">{{text}}</span>
            </li>
            {{/if}}
            <li class="item-tags">

            </li>
        </ul>
        <ul class="horizontal-tags">
            <!--<li class="bookend-left"></li>-->
            {{#each tag_objs}}
            <li class="tag removable_tag">
                <div class="name">{{tag}}<span class="pictographs remove"> X</span></div>

            </li>
            {{/each}}
            {{#if adding_tag}}
            <li class="tag edittag">
                <input type="text" id="edittag-input" value="" />
            </li>
            {{else}}
            <li class="addtag pictograph tag">J</il>
            {{/if}}
        </ul>
        <!--<div class="bookend-right"></li>-->
    </li>
</template>
