<template name="communityPageTemplate">
    <div class="page" id="communityPage">
        <div class="">
            <div class="spacer row"></div>
            <div class="row">
                <div id="community-inspection-column" class="six columns" >
                    <div id="community-inspection-block" class="top-anchored">
                        <input id="filterInput" type="text" class="search" />
                        {{#if showQuickViewPanel}}
                        {{> quickViewPanelTemplate}}
                        {{else}}
                        <div class="itaintrocketscience">Phasellus sit amet ante sed mi egestas adipiscing id in sem. Ut sapien lorem, iaculis id auctor sed, ultrices sit amet eros. Maecenas risus nisl, lacinia sit amet semper id, aliquet et velit. Pellentesque id eros nulla. Suspendisse gravida nisi eget nibh hendrerit auctor. Nullam lorem purus, viverra sed convallis rutrum, congue id ligula. Ut ut sapien eget libero feugiat elementum. Vivamus id molestie felis. Proin ultricies elit condimentum lectus congue ultrices. </div>
                        {{/if}}
                    </div>

                    <!--<div class="hide-for-medium hide-for-small sidebar">-->
                        <!--<div id="tag-filter" class="tag-list">-->
                            <!--<ul class="tag-list sort-by">-->
                                <!--<li class="sort tag" data-sort="user-email">Sort - Email</li>-->
                                <!--<li class="sort tag" data-sort="user-posts">Sort - Health Entries</li>-->
                                <!--<li class="sort tag" data-sort="user-rank">Sort - Health Rank</li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
                <div id="community-members-list" class="six columns hide-for-small">
                    <ul id="item-list" class="list">
                        {{#each communityUsers}}
                        {{> userItemTemplate}}
                        {{/each}}
                    </ul>                    <!--<div class="row panel">-->
                        <!--<h6>{{user_count}} Registered Users</h6>-->
                    <!--</div>-->
                    <!--<div class="spacer row"></div>-->
                    <!--<div class="row panel">-->
                        <!--<h6>{{collaborators_count }} Health Collaborators</h6>-->
                        <!--<ul class="collaborators list">-->
                            <!--{{#each collaborators}}-->
                            <!--{{> collaboratorItem}}-->
                            <!--{{/each}}-->
                        <!--</ul>-->
                    <!--</div>-->


                    <div class="spacer row"></div>
                    <div class="hidden row">
                        <img class="dotted infograph with-rounded-corners" id="drop_zone" src="images/placeholder-240x240.gif" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<template name="quickViewPanelTemplate">
    <div class="spacer row"></div>
        <div class="user-card-block row">
            <div class="panel user-card-detailed">
                <div class="card-header rounded-top-right">
                    <!--<div class="top_right"></div>-->
                    <span class="white card-meta-data">{{user_id}}</span>
                    <!--<span class="userEmailDisplay card-northeast card-meta-data">{{user_email}}</span></li>-->
                </div>
                <img class="user-card-image gray-border" src="{{user_avatar}}" />

                <div class="user-card-synopsis">
                    <div class="spacer row"></div>
                    <span class="user-card-synopsis-name">{{ user_name }}</span><br>
                    <span class="user-card-synopsis-email">{{ user_email }}</span><br>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="spacer row"></div>-->
    <!--<div class="row">-->
        <!--<div id="quicKViewPanel" class="reference panel">-->
            <!--<div class="card-northwest green card-meta-data">{{ user_id }}</div>-->

            <!--<div class="spacer row"></div>-->
            <!--<div class="avatar">-->
                <!--<img class="avatar with-rounded-corners gray-border" src="{{ user_avatar }}" />-->
            <!--</div>-->
            <!--<div class="spacer row"></div>-->
            <!--<div class="bold">{{ user_name }}</div>-->
            <!--<div>{{ user_email }}</div>-->

            <!--<div class="spacer row"></div>-->
            <!--<div class="small clear-carewatch button">watch this person</div>-->
            <!--<div class="small clear-carewatch button">share diary with this person</div>-->

            <!--{{#if isAdmin }}-->
            <!--<div class="spacer row"></div>-->
            <!--<div class="small delete-user button">delete user</div>-->
            <!--<div class="small clear-collaborators button">clear collaborators</div>-->
            <!--<div class="small clear-carewatch button">clear carewatch</div>-->
            <!--{{/if}}-->

        <!--</div>-->
    <!--</div>-->
</template>
<template name="userItemTemplate">
    <li class="rounded-corners user-card without-padding">
        <img class="card-image gray-border" src="{{ userImage }}" />

        <!--<div class="hide-for-small two columns">-->
        <!--</div>-->
        <div class="card-data">
            <div class="card-northwest gray card-meta-data without-padding">{{ _id }}</div>
            <div class="card-northwest-secondary user-email bold">{{ userName }}</div>
            <div class="user-posts">Posts: {{userHealthEntries}}</div>
            <div class="user-rank">HealthRank: {{userHealthRank}}</div>
        </div>
    </li>
</template>

<template name="collaboratorItem">
    <li>
        <span class="collaborator">{{name}}</span>
        <span class="destroy"></span>
    </li>
</template>
