<template name="sidebarTemplate">
    {{#if sidebarIsVisible }}
    <!-- TODO:  refactor side-pane to sidebarPane -->
    <div class="doesnt-overlap-header fixed-layout hide-for-small" id="side-pane">
        {{> lists}}
        <hr style="border: 1px solid lightgray;">
        {{> tag_filter}}
        <hr style="border: 1px solid lightgray;">

        <div class="sidebar-tiles">
            <div class="six columns">
                <img class="sidebar-tile" src="/iconsbw/CT_Scan.png">
                <img class="sidebar-tile" src="/iconsbw/Blood_bag.png">
                <img class="sidebar-tile" src="/iconsbw/Blood_pressure.png">
                <img class="sidebar-tile" src="/iconsbw/Prescription.png">
                <img class="sidebar-tile" src="/iconsbw/Xray.png">
            </div>
            <div class="six columns">
                <img class="sidebar-tile" src="/iconsbw/Health_Meter.png">
                <img class="sidebar-tile" src="/iconsbw/Hospital.png">
                <img class="sidebar-tile" src="/iconsbw/ID_Bracelet.png">
                <img class="sidebar-tile" src="/iconsbw/Insurance_Plan.png">
                <img class="sidebar-tile" src="/iconsbw/Labs.png">
            </div>
        </div>
    </div>
    {{/if}}
</template>

<!-- TODO: refactor to 'listsTemplate -->
<template name="lists">
    <div id="lists">
        {{#each lists}}
            <div class="list {{selected}}">
                <div class="sidebar-tab note">
                    {{#if editing}}
                    <div class="edit">
                        <input class="list-name-input" id="list-name-input" type="text" value="{{name}}" />
                    </div>
                    {{else}}
                    <div class="display">
                        <a class="list-name {{name_class}}" href="/{{_id}}">
                            {{name}}
                        </a>
                        <!--<p class="list-count">{{count}}</p>-->
                    </div>
                    {{/if}}
                </div>
            </div>
        {{/each}}
    </div>
    <div id="createList" style="display:none;">
        <input type="text" id="new-list" placeholder="New list" />
    </div>
</template>
<template name="dashboardTab">
    <div class="sidebar-tab note dashboard">
        <div class="display">
            Dashboard
        </div>
    </div>
</template>

<!-- TODO: refactor to 'tagFilter -->
<template name="tag_filter">
    <div id="tag-filter" class="tag-list">
        <!--<div class="label">Show:</div>-->
        {{#each tags}}
        <div class="sidebar-tab {{selected}}">
            {{tag_text}} <span class="count">({{count}})</span>
        </div>
        <!--<div class="sidebar-tab-accent"></div>-->
        {{/each}}
    </div>
</template>

