.tutorial-close{
  top: 40px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}
.tutorial-close:hover{
  color: red;
}


.tutorial-overlay{
  position: fixed !important;
  top: 0px !important;
  background-color: #000;
  opacity: .7;
  filter: alpha(opacity=70);
  position: absolute; top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: 10000;
}