<template name="iconAssetsPageTemplate">
    <div id="iconAssetsPage" class="page">
        <div class="spacer row"></div>
        <div class="row">
            <div id="snomed-anatomy-list">
                <input type="text" class="search" placeholder="filter {{snomed_count}} records" />
                <ul class="anatomy-images list">
                    {{#each icon_list}}
                    {{> iconAssetTemplate}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</template>



<template name="iconAssetTemplate">
    <li class="two column icon-item with-rounded-corners">
        <div class="hidden icon-name">{{icon_image}}</div>
        <img class="panel gray-border with-rounded-corners" src="{{icon_image}}">
    </li>
</template>