
<template name="guestPageTemplate">
    <div id="guestPage" class="doesnt-overlap-header touch-disabled page helveticas">
        <div class="twelve columns">
            <div class="row">
                <div class="twelve columns">
                    <p class="itaintrocketscience startHere hide-for-small hide-for-medium">start here!</p>
                    <div class="nine columns">
                        <div class="row doesnt-overlap-footer">

                            <div class="clickable synopsis card-container with-bottom-spacer">
                                <div class="card-header rounded-top-right">
                                    <span class="white card-meta-data">Synopsis</span>
                                </div>
                                <div class="padded card-body">
                                    <p>Clinical Workqueues is a task management application designed to facilitate workflow in clinical settings.  Initially motivated by the HITECH and Affordable Care Acts, Clinical Workqueues is a mobile task management application, designed from the ground-up with the latest in real-time mobile web technologies, to facilitate ad-hoc accountable care organizations and bed-side computing.  It's an application designed to meet the needs of a society dealing with aging Baby Boomers.  </p>
                                </div>
                                <div class="card-footer"></div>
                            </div>

                            <div class="hidden clickable features card-container with-bottom-spacer">
                                <div class="card-header rounded-top-right">
                                    <span class="white card-meta-data">Features</span>
                                </div>
                                <!-- //TODO:  add features list from iPad notes -->
                                <div class="padded card-body">
                                    <p> Mobile<br>
                                        Bedside Computing<br>
                                        Multiuser & Social<br>
                                        Ad-Hoc Accountable Care Organizations<br>
                                        Patient Outcome Analysis<br>
                                        HIPAA Compliant<br>
                                        Clinician Workflows
                                    </p>
                                </div>
                                <div class="card-footer"></div>
                            </div>



                            <div class="hidden clickable accounts card-container with-bottom-spacer">
                                <div class="card-header rounded-top-right">
                                    <span class="white card-meta-data">Demo Accounts</span>
                                </div>
                                <div class="padded card-body" style="height: 260px;">
                                    <div class="six columns">
                                        <span class="bold">Ada Lovelace</span><br>
                                        <span>username:  ada@test.org</span><br>
                                        <span>password:  ada</span>
                                        <br><br>
                                        <span class="bold">Rosalind Franklin</span><br>
                                        <span>username:  rosalind@test.org</span><br>
                                        <span>password:  rosalind</span>
                                        <br><br>
                                        <span class="bold">Octavia Butler</span><br>
                                        <span>username:  octavia@test.org</span><br>
                                        <span>password:  octavia</span>
                                        <br><br>
                                        <span class="bold">Florence Nightingale</span><br>
                                        <span>username:  florence@test.org</span><br>
                                        <span>password:  florence</span>
                                        <br><br>

                                    </div>
                                    <div class="six columns">
                                        <span class="bold">Kurt Vonnegut</span><br>
                                        <span>username:  kurt@test.org</span><br>
                                        <span>password:  kurt</span>
                                        <br><br>
                                        <span class="bold">Alan Turring</span><br>
                                        <span>username:  alan@test.org</span><br>
                                        <span>password:  alan</span>
                                        <br><br>
                                        <span class="bold">George Washington Carver</span><br>
                                        <span>username:  carver@test.org</span><br>
                                        <span>password:  carver</span>
                                        <br><br>
                                        <span class="bold">Alexis Carrel</span><br>
                                        <span>username:  alexis@test.org</span><br>
                                        <span>password:  alexis</span>
                                        <br><br>

                                    </div>
                                </div>
                                <div class="card-footer"></div>
                            </div>



                            <div class="hidden betatest card-container with-bottom-spacer">
                                <div class="card-header rounded-top-right">
                                    <span class="white card-meta-data">Beta Testing Program</span>
                                </div>
                                <div class="padded card-body">
                                    <p><b>1.  Signup</b>  The first 100 people to send us the UUID of their iPad can participate in the beta-testing program for Clinical Workqueues.  Go to the contact page on www.pentasyllabic.com for contact info, or tweet @pentasyllabics.  </p>
                                    <img rel="#uuid" class="gray clickable moneyShot with-rounded-corners" src="/images/uuid-for-beta-testing-program.png">
                                    <div class="spacer row"></div>
                                    <p><b>2.  Download</b>  If you've sent in your UUID and gotten a reply, click below to download the Clinical Workqueues app.</p>

                                    <a href="/downloads/ClinicalWorkqueues-v0.1.0.ipa">
                                        <div class="clickable download-button panel with-rounded-corners ">
                                            <span class="pictograph">Q</span>Clinical Workqueues.ipa
                                        </div>
                                    </a>

                                    <div class="spacer row"></div>
                                    <p><b>3.  Install</b>  Open iTunes and drag the .ipa file onto the Apps page to install.</p>
                                    <img rel="#dragToInstall" class="gray clickable moneyShot with-rounded-corners" src="/images/drag-to-itunes-to-install.jpg">
                                </div>
                                <div class="card-footer"></div>
                            </div>


                            <div id="currentScreenshotContainer" class="vision row with-bottom-spacer">
                                <img id="currentScreenshot" class="gray clickable panel with-rounded-corners" src="/images/april-screenshot-alpha-launch.jpg">
                            </div>

                            <div class="vision row with-bottom-spacer">
                                <img id="thunderboltScreenshot" class="gray clickable panel with-rounded-corners" src="/images/ThunderboltWorkqueues.png">
                            </div>


                            <!--<div class="making-this itaintrocketscience hide-for-small hide-for-medium hidden vision">Money shot!  This is what we're trying to create!</div>-->
                            <div id="moneyShotContainer" class="hidden vision row with-bottom-spacer">
                                <img rel="#moneyShot" class="gray clickable moneyShot panel with-rounded-corners" src="/images/visionStatement/day-of-glass-money-shot.png">
                            </div>
                            <!--<div class="making-this itaintrocketscience hide-for-small hide-for-medium hidden vision">The healthcare related stuff begins at 6:23 into the video.</div>-->
                            <div id="dayOfGlassMedicalVideo" class="hidden vision row with-bottom-spacer">
                                <iframe class="gray panel with-rounded-corners hidden-on-portrait" width="100%" height="400px" src="http://www.youtube.com/embed/Muv3R_6AXls" frameborder="0" allowfullscreen></iframe>
                            </div>

                            <div class="notepad panel hipaa-notice with-rounded-corners">
                                NOTICE:  Clinical Workqueues is currently in <bold class="red">ALPHA</bold>.  It is <bold>not</bold> HIPAA compliant (yet).  Information may be deleted or lost as we migrate to Beta release and move onto our production platform.  You have been warned!  This public demo is made available only for evaulation purposes at the current time.
                            </div>



                        </div>
                    </div>

                    <!-- //TODO:  on portrait layout and mobile, set fixed layout upper-right-hand corner -->
                    <div class="guestpage-navigation three columns">
                        <div class="panel with-rounded-corners without-right-padding">
                            <div class="list {{selected}}">
                                <div class="synopsis-tab sidebar-tab helveticas note">
                                    SYNOPSIS
                                </div>
                                <div class="features-tab sidebar-tab helveticas note">
                                    FEATURES
                                </div>
                                <div class="vision-tab sidebar-tab helveticas note">
                                    VISION
                                </div>
                                <div class="accounts-tab sidebar-tab helveticas note">
                                    DEMO ACCOUNTS
                                </div>
                                <div class="betatest-tab sidebar-tab helveticas note">
                                    BETA TESTING
                                </div>
                                <div class="all-tab sidebar-tab helveticas note">
                                    ALL
                                </div>
                            </div>
                        </div>


                    </div>

                    <img id="day-of-glass-money-shot-34ratio" class="hidden" src="/images/visionStatement/day-of-glass-money-shot-34ratio.png" />
                    <img id="currentScreenshotImage" class="hidden" src="/images/april-screenshot-alpha-launch.jpg" />
                </div>
            </div>
            <div class="spacer row"></div>
        </div>
    </div>
</template>
