
<template name="guestPageTemplate">
    <div id="guestPage" class="doesnt-overlap-header touch-disabled">
        <div class="twelve columns">
            <div class="row">
                <div class="twelve columns">
                    <p class="itaintrocketscience startHere hide-for-small hide-for-medium">start here!</p>
                    <div class="nine columns">
                        <div class="row">

                            <div class="clickable synopsis card-container with-bottom-spacer">
                                <div class="card-header rounded-top-right">
                                    <span class="white card-meta-data">Synopsis</span>
                                </div>
                                <div class="padded card-body">
                                    <p>Clinical Workqueues is the task management and workflow module to a new Personal Healthrecord Application (PHA).  Motivated by the HITECH and Affordable Care Acts, inspired by the Corning Day of Glass 2 Video, made possible by the iPad, and created using the Meteor framework using Node.js and MongoDB, the Clinical Workqueues App is a rethinking of what EMR and PHR applications can and should be.  </p>
                                </div>
                                <div class="card-footer"></div>
                            </div>



                            <div class="hidden clickable features card-container with-bottom-spacer">
                                <div class="card-header rounded-top-right">
                                    <span class="white card-meta-data">Features</span>
                                </div>
                                <div class="padded card-body">
                                    <p> Mobile<br>
                                        Bedside Computing<br>
                                        Multiuser & Social<br>
                                        Ad-Hoc Accountable Care Organizations<br>
                                        Patient Outcome Analysis<br>
                                        HIPAA Compliant<br>
                                        Clinician Workflows
                                    </p>
                                </div>
                                <div class="card-footer"></div>
                            </div>



                            <div class="hidden clickable accounts card-container with-bottom-spacer">
                                <div class="card-header rounded-top-right">
                                    <span class="white card-meta-data">Demo Accounts</span>
                                </div>
                                <div class="padded card-body">
                                    <bold>Ada Lovelace</bold><br>
                                    <span>username:  ada@test.mobi</span><br>
                                    <span>password:  ada</span>
                                    <br><br>
                                    <bold>Kurt Vonnegut</bold><br>
                                    <span>username:  kurt@test.mobi</span><br>
                                    <span>password:  kurt</span>
                                    <br><br>
                                    <bold>Ada Lovelace</bold><br>
                                    <span>username:  ada@test.mobi</span><br>
                                    <span>password:  ada</span>
                                    <br><br>
                                    <bold>Ada Lovelace</bold><br>
                                    <span>username:  ada@test.mobi</span><br>
                                    <span>password:  ada</span>
                                    <br><br>
                                    <bold>Ada Lovelace</bold><br>
                                    <span>username:  ada@test.mobi</span><br>
                                    <span>password:  ada</span>
                                    <br><br>
                                    <bold>Ada Lovelace</bold><br>
                                    <span>username:  ada@test.mobi</span><br>
                                    <span>password:  ada</span>
                                    <br><br>
                                    <bold>Ada Lovelace</bold><br>
                                    <span>username:  ada@test.mobi</span><br>
                                    <span>password:  ada</span>
                                </div>
                                <div class="card-footer"></div>
                            </div>



                            <div class="hidden clickable betatest card-container with-bottom-spacer">
                                <div class="card-header rounded-top-right">
                                    <span class="white card-meta-data">Beta Testing Program</span>
                                </div>
                                <div class="padded card-body">
                                    <p>The first 100 people to send us the UUID of their iPad can participate in the beta-testing program for Clinical Workqueues and Symptomatic.</p>
                                    <img rel="#uuid" class="gray moneyShot with-rounded-corners" src="/images/uuid-for-beta-testing-program.png">
                                </div>
                                <div class="card-footer"></div>
                            </div>



                            <div class="making-this itaintrocketscience hide-for-small hide-for-medium vision">Money shot!  This is what we're trying to create!</div>
                            <div id="moneyShotContainer" class="vision row with-bottom-spacer">
                                <img rel="#moneyShot" class="gray clickable moneyShot panel with-rounded-corners" src="/images/visionStatement/day-of-glass-money-shot.png">
                            </div>
                            <div class="making-this itaintrocketscience hide-for-small hide-for-medium hidden vision">The healthcare related stuff begins at 6:23 into the video.</div>
                            <div id="dayOfGlassMedicalVideo" class="hidden vision row with-bottom-spacer">
                                <iframe class="gray panel with-rounded-corners hidden-on-portrait" width="100%" height="300px" src="http://www.youtube.com/embed/Muv3R_6AXls" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="three columns">
                        <div class="panel with-rounded-corners without-right-padding">
                            <div class="list {{selected}}">
                                <div class="synopsis-tab sidebar-tab helveticas note">
                                    SYNOPSIS
                                </div>
                                <div class="features-tab sidebar-tab helveticas note">
                                    FEATURES
                                </div>
                                <div class="vision-tab sidebar-tab helveticas note">
                                    VISION
                                </div>
                                <div class="accounts-tab sidebar-tab helveticas note">
                                    DEMO ACCOUNTS
                                </div>
                                <div class="betatest-tab sidebar-tab helveticas note">
                                    BETA TESTING
                                </div>
                                <div class="all-tab sidebar-tab helveticas note">
                                    ALL
                                </div>
                            </div>
                        </div>
                        <div class="spacer row"></div>
                        <div class="notepad panel hipaa-notice with-rounded-corners">
                            NOTICE:  Clinical Workqueues is currently in <bold class="red">ALPHA</bold>.  It is <bold>not</bold> HIPAA compliant (yet).  Information may be deleted or lost as we migrate to Beta release and move onto our production platform.  You have been warned!  This public demo is made available only for evaulation purposes at the current time.
                        </div>

                    </div>

                    <div class="simple_overlay" id="moneyShot">
                        <div class="close"></div>
                        <img id="day-of-glass-money-shot-34ratio" class="hidden" src="/images/visionStatement/day-of-glass-money-shot-34ratio.png" />
                    </div>
                </div>
            </div>
            <div class="spacer row"></div>
        </div>
    </div>
</template>
